<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{{ absolute_url(asset('img/logo.png')) }}">

    {# ============= TITLE ============= #}
    <title>{% block title %}Evaschool{% endblock %}</title>

    {# ============= STYLES ============= #}
    {% block stylesheets %}
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% stylesheets filter='cssrewrite, ?scssphp'
            'css/bootstrap.min.css'
            'css/mdb.min.css'
            'css/style.css'
            output='css/compiled/app.css'%}
            <link rel="stylesheet" href="{{ asset_url }}?d={{ "now"|date("dmy") }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

</head>

<body id="visitorBody">

<!--Main Navigation-->
<header>
    <div class="text-center mt-3 mb-4">
        <img src="{{ absolute_url(asset('img/logo_complet2.png')) }}" alt="Logo" class="img-fluid" style="width: 50%;">
    </div>
    {% block nav %}
        {# ===========================================================
===========================  MENU ==========================
============================================================ #}
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b7d0fa;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('ressources_index') }}">Ressources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blog_index') }}">Actualités</a>
                    </li>
                </ul>
                <span class="navbar-text white-text">
                  <a href="mailto:contact@evaschool.fr" class="nav-link border border-light rounded" target="_blank" style="color: white; border: 1px solid white; font-size: 1em;">
                      <i class="fa fa-envelope mr-2"></i>Me contacter
                </a>
                </span>
            </div>
        </nav>

    {% endblock %}

</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-4">

        {% block body %}
        {% endblock %}

    </div>
</main>
<!--Main layout-->

{% block footer %}
    <div class="text-center" id="footerDiv">
        © {{ 'now'|date('Y') }} Copyright : evaschool.fr
    </div>
{% endblock %}

{# ============= SCRIPTS ============= #}
{% block javascripts %}

    {% javascripts filter='?jsqueeze'
        'js/jquery-3.1.1.min.js'
        'js/tether.min.js'
        'js/popper.min.js'
        'js/bootstrap.min.js'
        'js/mdb.min.js'
        'js/main.js'
        output='js/compiled/app.js' %}
    <script type="text/javascript" src="{{ asset_url }}?d={{ "now"|date("dmy") }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>

{% endblock %}

</body>

</html>